.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
output*/
inputs/
*.Rproj

# a file used for testing use of other scripts
tmp.R

# output for the empirical calibration seed
ec_seed
.ec_used

# analyst input folders
input*/
.project
.settings
calibration
